// Nav bar mixin definition
@mixin mainHeader($posValue, $textColor) {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid rgba(211, 211, 211, 0.5);
    position: $posValue;
    z-index: 2;
    width: 100%;
    .logo {
        border-right: 0.5px solid rgba(211, 211, 211, 0.5);
        width: 250px;
        max-width: 250px;
        a{
            display: block;
            img {
                display: block;
                width: 100%;
                max-width: 100%;
                padding: 20px 35px;
            }
        }
    }
    nav {
        width: 78%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 0 auto;
        ul {
            padding: 0;
            display: flex;
            list-style: none;
            text-align: center;
            a {
                display: block;
                text-decoration: none;
                padding: 5px 5px;
                margin: 0 20px;
                color: $textColor;
                border-bottom: 1px solid transparent;
                transition: border-bottom .3s ease-in;
                &:hover {
                    border-bottom: 1px solid $textColor ;
                }
            }
        }
    }
    .search {
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: 0.5px solid rgba(211, 211, 211, 0.5);
        a {
            color: $textColor;
            padding: 40px 45px;
        }
    }
}
// Main Link Styling
@mixin mainLinks($textColor, $backgroundColor, $hoverColor, $hoverBackground) {
    text-decoration: none;
    color: $textColor;
    padding: 12px 15px;
    background: $backgroundColor;
    border-radius: 17px;
    font-weight: 700;
    margin-top: 40px;
    transition: all 300ms ease-in-out;
    &:hover {
        background: $hoverBackground;
        color: $hoverColor;
    }
}
    