// These are the base site CSS styles
html {
    font-family: 'Raleway', sans-serif;
    font-size: 62.5%;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2.2rem;
}

p {
    font-size: 1.8rem;
}

a {
    font-size: 1.5rem;
}
