// These are the base site CSS styles
html {
    font-family: 'Raleway', sans-serif;
    font-size: $baseFont;
}
h1 {
    font-size: $h1Desk;
}
h2 {
    font-size: $h2Desk;
}
h3 {
    font-size: $h3Desk;
}
p {
    font-size: $pDesk;
}
a {
    font-size: $aDesk;
}
// Sidewide Media queries
@media (min-width: 0) and (max-width: $md) {
    h1 {
        font-size: $h1Mobile;
    }
    h2 {
        font-size: $h2Mobile;
    }
    h3 {
        font-size: $h3Mobile;
    }
    p {
        font-size: $pMobile;
    }
    a {
        font-size: $aMobile;
    }
}
@media (min-wdith: $md) {
    h1 {
        font-size: $h1Desk;
    }
    h2 {
        font-size: $h2Desk;
    }
    h3 {
        font-size: $h3Desk;
    }
    p {
        font-size: $pDesk;
    }
    a {
        font-size: $aDesk;
    }
}