// Text colors
$lightText: white;
$medText: grey;
$darkText: black;
// Text weights
$thinText: 400;
$buffText: 700;
$heavyText: 900;
// Colours
$logoColor: #fa4614;
$greyText: #7d7d7d;
$accentColor: #e64b37;
$borderColor: #d3d3d3;
// Media Query Sizing
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;