#about {
    margin: 0 auto;
    display: flex;
    align-items: center;
    // height: 500px;
    .about {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        // height: 500px;
        border-bottom: 1px solid $borderColor;
        .aboutImg {
            display: flex;
            align-items: stretch;
            width: 50%;
            height: 550px;
            img{
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .aboutUs {
            padding-left: 60px;
            // border-bottom: 1px solid $borderColor;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 35px;
            width: 50%;
            // height: 100%;
            h2 {
                margin-top: 0;
                text-transform: uppercase;
            }
            .aboutItem {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .aboutIcon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    i {
                        display: block;
                        font-size: 4rem;
                        color: $accentColor;
                    }
                }
                .aboutText {
                    margin-left: 25px;
                    h3 {
                        margin: 10px 0;
                    }
                    p {
                        margin: 10px 0;
                        width: 90%;
                    }
                }
            }
        }
    }
}
// About section media queries
@media (min-width: 0) and (max-width: $sm) {
    #about {
        .about {
            flex-direction: column;
            margin-bottom: 35px;
            .aboutImg {
                // height: 225px;
                width: 80%;
            }
            .aboutUs {
                border-top: none;
                width: 80%;
                padding: 0;
                align-items: center;
                padding-bottom: 35px;
                .aboutItem {
                    margin-left: 45px;
                }
            }
        }
    }
}
@media (min-width: $sm) {
    #about {
        .about {
            margin-bottom: 35px;
            flex-direction: column;
            .aboutImg {
                height: 305px;
                width: 80%;
            }
            .aboutUs {
                border-top: none;
                width: 80%;
                padding: 0;
                align-items: center;
                padding-bottom: 35px;
                .aboutItem {
                    margin-left: 75px;
                }
            }
        }
    }
}
@media (min-width: $md) and (max-width: $lg) {
    #about {
        .about {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .aboutImg {
                height: 360px;
                width: 80%;
            }
            .aboutUs {
                border-top: none;
                width: 80%;
                .aboutItem {
                    margin-left: 100px;
                }
            }
        }
    }
}
@media (min-width: $lg) and (max-width: $xl) {
    #about {
        .about {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .aboutImg {
                height: 430px;
                width: 80%;
            }
            .aboutUs {
                border-top: none;
                width: 80%;
                .aboutItem {
                    margin-left: 120px;
                }
            }
        }
    }
}
@media (min-width: $xl) {
    #about {
        .about {
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 65px;
            border-top: 1px solid $borderColor;
            .aboutImg {
                width: 50%;
                height: 550px;
            }
            .aboutUs {
                // border-top: 1px solid $borderColor;
                padding-left: 60px;
                align-items: flex-start;
                height: 100%;
                margin: 0;
                width: 50%;
                padding-bottom: 0;
                .aboutItem {
                    margin-left: 0;
                }
            }
        }
    }
}